[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aerich = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
tortoise-orm = {extras = ["asyncpg"], version = "*"}
websockets = "*"

[dev-packages]

[requires]
python_version = "3.10"
